---
# The bare domain name which represents your Matrix identity.
# Matrix user IDs for your server will be of the form (`@alice:example.com`).
#
# Note: this playbook does not touch the server referenced here.
# Installation happens on another server ("matrix.example.com", see `matrix_server_fqn_matrix`).
#
# If you've deployed using the wrong domain, you'll have to run the Uninstalling step,
# because you can't change the Domain after deployment.
matrix_domain: nantral-platform.fr

# The Matrix homeserver software to install.
# See:
#  - `roles/custom/matrix-base/defaults/main.yml` for valid options
#  - the `docs/configuring-playbook-IMPLEMENTATION_NAME.md` documentation page, if one is available for your implementation choice
#
# By default, we use Synapse, because it's the only full-featured Matrix server at the moment.
#
# Note that the homeserver implementation of a server will not be able to be changed without data loss.
matrix_homeserver_implementation: synapse

# A secret used as a base, for generating various other secrets.
# You can put any string here, but generating a strong one is preferred. You can create one with a command like `pwgen -s 64 1`.
matrix_homeserver_generic_secret_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37386163356336313331636232323564636634343431656231633161346365616632636236366633
  6635366236303162663662383830663765353765353237640a363062306366313863386633643463
  31303164326638353764616631323866356439663565373430663038633434613338653432346233
  3565616434646433350a316532656131653731643164306236626262623434653935623139623932
  31663062613662616636373335333538323263393930623136623862666230353337393136346439
  37613864366437316263323536353730643964353138646361633433656564633831633564653366
  30386237643737623630366635636535343033373632313538666536646538373763313631323839
  39646164383430316431
# By default, the playbook manages its own Traefik (https://doc.traefik.io/traefik/) reverse-proxy server.
# It will retrieve SSL certificates for you on-demand and forward requests to all other components.
# For alternatives, see `docs/configuring-playbook-own-webserver.md`.
matrix_playbook_reverse_proxy_type: playbook-managed-traefik

# Controls whether container networks will be created with IPv6 support.
#
# If you also have IPv6 support on your server/network and AAAA DNS records pointing to the server,
# enabling this will effectively give you full public IPv6 connectivity (powered by NAT66).
#
# We recommend leaving this enabled even if you don't currently have IPv6 connectivity on your server/network.
# This way, once you eventually get IPv6 connectivity, you won't have to change anything (besides DNS records).
#
# Flipping this setting later on requires manual work (stopping services, deleting and recreating all container networks).
#
# In the future, this setting will likely default to `true`, so if you really want IPv6 disabled, explicitly set this to `false`.
#
# People managing Docker themselves and running an older Docker version will need additional configuration.
#
# Learn more in `docs/configuring-ipv6.md`.
devture_systemd_docker_base_ipv6_enabled: true

# A Postgres password to use for the superuser Postgres user (called `matrix` by default).
#
# The playbook creates additional Postgres users and databases (one for each enabled service) using this superuser account.
#
# Changing this value subsequently requires manual work.
# The value used here must be shorter than 100 characters.
postgres_connection_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  33653537343334393436633038663637343235663634316166646335616238373039616135663939
  6135386566353936336539333762626563386363663662360a303563646236613362303964306331
  32616163613266663939336635353634623537653631353937353163336364396566343836323033
  6539373865346363390a633464626534636134626536393036313737343131376538626462353434
  33363565396633353337653366373661313134336130343162336234666338363231643932353031
  32353131343633346437323165323362323862626163633131636663356439623739316331633733
  31653963303136323465366433323264656330363365633530616631376635383639643930626337
  32646465666434613332

# By default, we configure coturn's external IP address using the value specified for `ansible_host` in your `inventory/hosts` file.
# If this value is an external IP address, you can skip this section.
#
# If `ansible_host` is not the server's external IP address, you have 2 choices:
# 1. Uncomment the line below, to allow IP address auto-detection to happen (more on this below)
# 2. Uncomment and adjust the line below to specify an IP address manually
#
# By default, auto-detection will be attempted using the `https://ifconfig.co/json` API.
# Default values for this are specified in `matrix_coturn_turn_external_ip_address_auto_detection_*` variables in the coturn role
# (see `roles/custom/matrix-coturn/defaults/main.yml`).
#
# If your server has multiple IP addresses, you may define them in another variable which allows a list of addresses.
# Example: `matrix_coturn_turn_external_ip_addresses: ['1.2.3.4', '4.5.6.7']`
#
# matrix_coturn_turn_external_ip_address: ''

## Synapse Workers
matrix_synapse_workers_enabled: false
#matrix_synapse_workers_preset: specialized-workers
#matrix_synapse_workers_federation_reader_workers_count: 0
#matrix_synapse_workers_federation_sender_workers_count: 0
#matrix_synapse_workers_media_repository_workers_count: 0
#matrix_synapse_workers_stream_writer_typing_stream_workers_count: 0
#matrix_synapse_workers_stream_writer_to_device_stream_workers_count: 0
#matrix_synapse_workers_stream_writer_account_data_stream_workers_count: 0
#matrix_synapse_workers_stream_writer_receipts_stream_workers_count: 0
#matrix_synapse_workers_stream_writer_presence_stream_workers_count: 0

## Retention
matrix_synapse_retention_enabled: true
matrix_synapse_retention_purge_jobs:
  # Clear old messages every day
  - interval: "1d"
# One year for messages
matrix_synapse_retention_period: "1y"
# One month for media (photo, video,...)
matrix_synapse_media_retention_local_media_lifetime: "1m"
matrix_synapse_media_retention_remote_media_lifetime: "1m"

## Auth
matrix_synapse_enable_registration: false
matrix_synapse_password_config_localdb_enabled: false
# REST password provider
matrix_synapse_ext_password_provider_rest_auth_enabled: true
matrix_synapse_ext_password_provider_rest_auth_download_url: "https://raw.githubusercontent.com/3cn-ecn/matrix-config/refs/heads/main/modules/rest_auth_provider.py"
matrix_synapse_ext_password_provider_rest_auth_endpoint: "https://nantral-platform.fr"
matrix_synapse_ext_password_provider_rest_auth_registration_enforce_lowercase: true
matrix_synapse_ext_password_provider_rest_auth_registration_profile_name_autofill: true
matrix_synapse_ext_password_provider_rest_auth_login_profile_name_autofill: false
# OIDConnect
matrix_synapse_oidc_enabled: true
matrix_synapse_oidc_providers:
  - idp_id: nantralPlatform
    idp_name: "Nantral Platform"
    idp_icon: "mxc://nantral-platform.fr/9e9b4e70b9f3c22d6c57c5c433664d19533412b81969390612142620672"
    issuer: "https://nantral-platform.fr/openid/"
    client_id: "754497"
    client_secret: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      33306435653333393533306531633233663662333466373032663464396330376132353833636230
      6631656266396334626132366661623233666632663530330a643234353236636263326161363538
      34396662623634363537626531306435366165343763386439326633316262323034346431663936
      3933323730653662350a306137613965353361363664363537343761386639653065636432376532
      38666630653035353836313431313264666430353138303266643466323339636134656233376631
      64613563383438333731393835636231666139333232633737633763323063643163393832376361
      666531306138396662636564643366373538
    scopes: ["openid", "mas", "email"]
    enable_registration: true
    user_mapping_provider:
      config:
        localpart_template: "{% raw %}{{ user.preferred_username }}{% endraw %}"
        confirm_localpart: false
        display_name_template: "{% raw %}{{ user.name }}{% endraw %}"
        email_template: "{% raw %}{{ user.email }}{% endraw %}"
    allow_existing_users: true # To add oidc to existing accounts instead of creating new ones
    backchannel_logout_enabled: true

## Federation -- disabled for privacy
matrix_synapse_federation_enabled: false
matrix_synapse_federation_port_openid_resource_required: true
matrix_synapse_allow_public_rooms_over_federation: false

## SSL
traefik_config_certificatesResolvers_acme_dnsChallenge_enabled: true
traefik_config_certificatesResolvers_acme_dnsChallenge_provider: "ovh"
traefik_config_certificatesResolvers_acme_dnsChallenge_delayBeforeCheck: 60
ovh_application_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  65393466333433386137613730373931346162376531363361653035613038316263646638323236
  6633663766353465386631613437353165656331383536650a383230323561616239393363333764
  62373330636161323433663232396664653730636330376461656338336464336532373065333064
  3666363033326439300a356336623534356162383463616361626664383763356562323534666264
  65343866393562353731383766373665643737346335633032663230656431373133
ovh_application_shared_secret: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  38336161653837616436383864643635333465393634636638353437623261363464366161383933
  3231316335326634323462363964663663653966356331330a346534666635393936393130626565
  35643637633335383439333430313532626536383839636334343330326537376130346639636463
  3439353032343431650a613766646633343065336636373635396434633930336666333539383839
  38313134316462323032323932636562303064366130626334363363393631353332656431326565
  3461643563636434323765303137353565326437623731373964
ovh_consumer_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  66386666613639383564636530313566356131643939326439313034316432343266663862316435
  3765666138343236323665616137353032303236343835390a363536313438333334663432613530
  63356534303336303064346633366239643666363163383931303733623535346631333838633361
  3230393637323832340a386165343634343038346634313165306438316561316230616531656335
  35613264653531623835326533323561373433373733356237333365653365383035396635363636
  3235636265383238363865333331326635373862376661616264
traefik_environment_variables: |
  OVH_ENDPOINT=ovh-eu
  OVH_APPLICATION_KEY={{ ovh_application_key }}
  OVH_APPLICATION_SECRET={{ ovh_application_shared_secret }}
  OVH_CONSUMER_KEY={{ ovh_consumer_key }}

## Rooms
matrix_synapse_auto_join_rooms:
  - "#home:nantral-platform.fr"
matrix_synapse_auto_join_mxid_localpart: "admin"
matrix_synapse_auto_accept_invites_enabled: true
matrix_synapse_auto_accept_invites_only_for_direct_messages: true
matrix_synapse_auto_accept_invites_only_from_local_users: false

## Emails
exim_relay_enabled: false
matrix_synapse_email_enabled: true
matrix_synapse_email_smtp_host: "mail.nantral-platform.fr"
matrix_synapse_email_smtp_port: 465
matrix_synapse_email_smtp_user: "admin@nantral-platform.fr"
matrix_synapse_email_smtp_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  39383536356637393566333936633466633463353635646165383639383662366639306565626132
  6635313136353133646261666330313630313634633834340a316262396331393164663739643034
  37393261653834626263373364633234356136373831646638313534303461393531356339623639
  3361363434323735390a373136356638383062316232386363303466376432333464613030326461
  64663165343436663763663866663931353631343862386164303962643132643432
matrix_synapse_email_smtp_require_transport_security: false
matrix_synapse_email_notif_from: "Matrix <matrix@nantral-platform.fr>"
matrix_synapse_email_app_name: Matrix
matrix_synapse_email_invite_client_location: "https://element.nantral-platform.fr"

## Storage
matrix_media_repo_enabled: true
matrix_media_repo_admins: ["@admin:nantral-platform.fr"]
matrix_media_repo_datastore_file_for_kinds: []
matrix_media_repo_datastore_s3_for_kinds:
  ["thumbnails", "remote_media", "local_media", "archives"]
matrix_media_repo_datastore_s3_opts_temp_path: "/tmp"
matrix_media_repo_datastore_s3_opts_endpoint: "s3.sbg.io.cloud.ovh.net"
matrix_media_repo_datastore_s3_opts_access_key_id: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  33623662633531356333653132616461333233393962373261646330356635386431613635663432
  3231653530373231323731393861366362633439666466610a343565663636336164633665616666
  65313335363634643133303136373335366136396537313635323334356639613137363134326437
  3334353339623430620a643235666232313761373332323064633033306536333734663762316536
  36383237353139376237333762663831636364353166353935326662393039396235336637663936
  3732313065333131633161326161366136313836663831613465
matrix_media_repo_datastore_s3_opts_access_secret: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  63623661326162666235363737663138376665326262626132616262646665393636633236346466
  6666623136633238373265333233336231636536396334370a333931303532613938656462663538
  30353435393433653132643463653133663661663462363938333463306130613561313234313632
  3530396164316237620a373231386532336233616334656634666265656135623463366532373964
  36663838346366653533386637383362393930343366326539663164383336383363623062623233
  3231663761626331666334396266343638386366323665313365
matrix_media_repo_datastore_s3_opts_ssl: true
matrix_media_repo_datastore_s3_opts_bucket_name: "nantral-platform-matrix"
matrix_media_repo_datastore_s3_opts_region: "sbg"
matrix_media_repo_datastore_s3_opts_storage_class: "STANDARD"
# This is for directly downloading media from the bucket, but we disable it
# because we pay traffic (it's not the case when we forward the media)
#matrix_media_repo_datastore_s3_opts_public_base_url: "https://nantral-platform-matrix.s3.sbg.io.cloud.ovh.net/"
matrix_media_repo_quotas_users_additional:
  - glob: "@*:*" # Affect all users. Use asterisks (*) to match any character.
    # The maximum number of TOTAL bytes a user can upload. Defaults to zero (no limit).
    maxBytes: 536870912 # 512MiB
    # The same as maxPending above - the number of uploads the user can have waiting to
    # complete before starting another one. Defaults to maxPending above. Set to 0 to
    # disable.
    maxPending: 5
    # The maximum number of uploaded files a user can have. Defaults to zero (no limit).
    # If both maxBytes and maxFiles are in use then the first condition a user triggers
    # will prevent upload. Note that a user can still have uploads contributing to maxPending,
    # but will not be able to complete them if they are at maxFiles.
    maxFiles: 0
matrix_media_repo_thumbnails_expire_after_days: 15
# The number of requests per second before an IP will be rate limited. Must be a whole number.
matrix_media_repo_rate_limit_requests_per_second: 10
# The number of requests an IP can send at once before the rate limit is actually considered.
matrix_media_repo_rate_limit_burst: 30

## Templates TODO: Create and store the templates

## Admin
matrix_synapse_admin_enabled: true
matrix_synapse_admin_path_prefix: /admin

## Others
matrix_url_preview_accept_language: ["fr-FR", "fr", "en-US", "en"]
matrix_synapse_configuration_extension_yaml:
  server_notices:
    system_mxid_localpart: _server
    system_mxid_display_name: "Annonces Serveur"
    system_mxid_avatar_url: "mxc://nantral-platform.fr/9e9b4e70b9f3c22d6c57c5c433664d19533412b81969390612142620672"
    room_name: "Annonces Serveur"
    room_avatar_url: "mxc://nantral-platform.fr/9e9b4e70b9f3c22d6c57c5c433664d19533412b81969390612142620672"
    auto_join: true
  mau_stats_only: true

## Privacy
matrix_synapse_presence_enabled: true
matrix_synapse_allow_public_rooms_without_auth: false
matrix_synapse_require_auth_for_profile_requests: true # Useless if federation enabled
matrix_synapse_limit_profile_requests_to_users_who_share_rooms: false # Does not work with federation
matrix_synapse_include_profile_data_on_invite: true
# User search behaviour
matrix_synapse_user_directory_search_all_users: false
matrix_synapse_user_directory_prefer_local_users: false

## Element
matrix_client_element_enabled: true
matrix_client_element_default_country_code: "FR"
matrix_client_element_themes_enabled: true
matrix_client_element_brand: "Element - Nantral Platform"
matrix_client_element_welcome_logo: "https://nantral-platform.fr/static/img/logo/scalable/logo.svg"
matrix_client_element_welcome_logo_link: "https://nantral-platform.fr"
matrix_client_element_permalink_prefix: "https://element.nantral-platform.fr"
matrix_client_element_room_directory_servers: ["nantral-platform.fr"]
matrix_client_element_branding_welcome_background_url: "https://nantral-platform.fr/static/img/central_background.jpg"
matrix_client_element_configuration_extension_json: |
  {
    "mobile_guide_app_variant": "element-classic",
    "UIFeature": {
      "urlPreviews": true,
      "registration": false,
      "passwordReset": false,
      "deactivate": false
    }
  }
matrix_client_element_features_custom:
  feature_report_to_moderators: true
  feature_ask_to_join: true

## Stats
prometheus_enabled: true
prometheus_node_exporter_enabled: true
prometheus_postgres_exporter_enabled: true
matrix_synapse_metrics_enabled: true
matrix_synapse_usage_exporter_enabled: false
#matrix_synapse_usage_exporter_container_image_self_build_repo: "https://github.com/famedly/synapse-usage-exporter.git"
matrix_media_repo_metrics_enabled: true
grafana_enabled: true
grafana_default_admin_user: "admin"
grafana_default_admin_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  33373131303430306566663630383335623132316131346231333636383834346438356234326633
  3763303635393065663538336664643338653463643831610a323139653863663530386561326666
  35393061323933666436613566393864356263316463363434343732316439383761353035626661
  6638303734356463640a646236383931383931643730616437356338353463306461353766653431
  35333439336436303635626532386464663233336532343635376564343365633764323465373464
  37303362343831383833626134363333303632333239396236383333356139656335373666313237
  36653036643130623437373436356265326532633533663235373132656331366436383930363864
  66646261313134373862
